
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.btn i {
    margin-right: 11px;
}

.ev_icon, .top_icon, .footer_icon {
    margin-right: 5px;
}

.icon-user::before {
    content: "\f007";
}

.icon-lock::before {
    content: "\f023";
}

.icon-clock::before {
    content: "\f017";
}

.icon-folder::before {
    content: "\f115";
}

.icon-map-marker::before {
    content: "\f041";
}

.icon-search::before {
    content: "\f002";
}

.icon-home::before {
    content: "\f015";

}

.icon-calendar:before {
    content: "\f073";
}

.icon-check {
    content: "\f00c";

}

.icon-response-3::before{
    content: "\f29c";
    color: #ffd410;
}
.icon-response-2::before{
    content: "\f00d";
    color: #F86923;
}
.icon-response-1::before{
    content: "\f00c";
    color: #1ccdca;
}
.icon-response-5::before{
    content: "\f29c";
    color: #888;
}

.icon-pencil::before{
    content: "\f044";
}

.icon-accepted::before{
    content: "\f046";
}
.icon-question::before{
    content: "\f29c";
}
.icon-group::before{
    content: "\f0c0";
}
.icon-delete::before{
    content: "\f00d";
}

.icon-envelope::before {
    content: "\f003";
}

.icon-past::before{
    content: "\f0e2";
}

.icon-angle-down::before{
    content: "\f107";
    margin-left: 10px;
}