body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #666666;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #324545;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

b {
    font-weight: bold;
}
.clear {
    clear: both;
    display: block;
}

.upper {
    text-transform: uppercase;
}

.content {
    max-width: 1170px;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.content_section {
    margin-top: 40px;
    min-height: 100%;
}

.home_page .content_section {
    margin-top: 80px;
}

/* Rounded corners */
.login_dialog, input[type="text"], input[type=button], input[type="password"], .btn, .btn_a, .lf_header, .lf_forget_pass,
#suggested_emails, #respond_wrapper, [data-notify="container"], .list_item{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* Common transitions */
a, .btn, .close, .main_title .line::before, .dropdown-content{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Button style  */

.btn {
    background: #00AFB2;
    border: 1px solid #00AFB2;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    display: inline-block;
}

.btn:hover {
    background: #324545;
    border-color: #324545;
    color: #fff;
}

/* Topbar */
#topbar {
    background: #00AFB2;
    color: white;
    position: relative;
}

#topbar {
    font-size: 12px;
}

#topbar span {
    display: inline-block;
    margin-right: 40px;
    padding: 12px 0;
    cursor: pointer;
}
#topbar .content{
    text-align: right;
}
#topbar a, #topbar a:visited, #topbar:active {
    color: white;
    text-decoration: none;
}

#login_button {
    background: none;
    border: none;
}

#topbar span.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    margin-right:0px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index:999;

}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #576162;
    min-width: 160px;
    color:#ccc
}

#topbar .dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e2e2e2 !important;
    color:#555;
    background-color: white;
}
.dropdown-content {
    border: 1px solid #E4E4E4;

}
.dropdown-content a:hover {
    background-color: #fbfbfb;
    color:#00AFB2 !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}

/* Logo */
#logo {
    float: left;
    /*margin-right: 20px;*/
    position: relative;
}

#logo > a {
    display: block;
    margin-top: 13px;
    position: relative;
    height: 45px;

}

#logo > a img {
    display: inline-block;
}

img {
    vertical-align: middle;
}

/* Navigation bar */
#navigation_bar {
    height: 74px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E4E4E4;
}

.home_page #navigation_bar {
    margin-bottom: 0px;
}

#main_nav {
    float: left;
    vertical-align: middle;
    position: absolute;
    right: 200px;
}

#main_nav ul {
    font-size: 12px;
    text-transform: uppercase;
}

/* NAV MENU  */
#nav_menu ul li {
    float: left;
    position: relative;
}

#nav_menu li > a > span {
    padding: 28px 20px;
    display: block;
    font-weight: 600;
}

#nav_menu li > a {
    text-decoration: none;
    color: #324545;
}

#nav_menu li > a:hover, #nav_menu li > a:active {
    color: #00AFB2;
}

/* Banner */
.flex-direction-nav a.flex-next::before {
    content: '\f105' !important;
    font-family: FontAwesome;
    color: white;
}

.flex-direction-nav a.flex-prev::before {
    content: '\f104' !important;
    font-family: FontAwesome;
    color: white;
}

.flex-direction-nav a {
    height: 45px !important;
}

.flexslider {
    bordeR: none !important;
}

/* Registration form */
.form_header {
    margin-bottom: 20px;
}

.main_title h2 {
    color: #324545;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
    font-family: 'Oswald', "Open Sans", sans-serif;
    line-height: 40px;
}

.main_title .highlighted {
    color: #00AFB2;
}

#registration_form {
    position: relative;
    width: 60%;
}

.form_row {
    margin-top: 20px;
}

.form_row label {
    float: none;
    display: block;
    color: #999;
    line-height: 40px;
    margin-bottom: 5px;
    width: 100%;
    font-weight: normal;
}

.required_star {
    color: #e74c3c;
}

.form_row:first-child {
    margin-top: 0;
}

.form_col_half {
    width: 50%;
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
}

.form_row .input_text {
    width: 100%;
    color: #324545;
    font-weight: 600;
}

input[type="text"], input[type="password"], input[type="button"] {
    border: 1px solid #ddd;
    padding: 10px 12px;
    color: #666;
    font-size: 13px;
    background: #fff;
    outline: none;
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00AFB2;
    color: #324545;
}

.full_button {
    width: 100%;
}


/* login */
#login_form {
    background: none;
    /*border: 1px solid #e1e1e1;*/
    padding: 20px;
    position: relative;
}

#login_form label {
    font-weight: normal;
}

.modal_header {
    padding: 20px;
    padding-bottom: 0;
}

.lf_user_row:not(:last-of-type) {
    margin-bottom: 20px;
}

.lf_user_row {
    position: relative;
}

.lf_header {
    background: #F9F9F9;
    border-bottom: 1px solid #e1e1e1;
    color: #555555;
    display: block;
    margin: -20px -20px 0;
    padding: 15px 20px;
    text-transform: uppercase;
}

#login_form label {
    display: block;
    text-align: left;
}

.login_dialog {
    background: white;
    text-align: left;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_dialog .close {
    position: relative;
    top: -30px;
    color: #F86923;
    opacity: 0.7;
}

.login_dialog .close:hover {
    opacity: 1;

}

.lf_user_row input[type="text"], .lf_user_row input[type="password"] {
    color: #888;
    font-weight: 500;
    padding-left: 40px;
    width: 100%;
}

.lf_forget_pass {
    background: #F9F9F9;
    border-top: 1px solid #e1e1e1;
    color: #888;
    display: block;
    font-size: 13px;
    margin: 20px -20px -20px;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
}

#login_form .remember-box {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
    color: #666;
}

#login_form input[type="checkbox"] {
    display: inline-block;
    margin: 3px 5px 4px 0;
}

#login_failed_label {
    padding: 10px 20px 0px 20px;
    display: none;
}

/*** END LOGIN DIALOG BOX ***/

.f_right {
    float: right;
}

.lf_icon {
    bottom: 1px;
    display: block;
    font-size: 17px;
    height: 100%;
    color: #576162;
    left: 1px;
    top: 1px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 40px;
}

/* Event list */
.main_title h2 .line {
    background: rgba(0, 0, 0, 0.07);
    bottom: 0;
    height: 1px;
    position: absolute;
    width: 40%;
}

.main_title .line::before {
    background: #1cc6df;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100px;
}

.main_title h2:hover .line::before {
    width: 75%;
}

.main_title .line i {
    background: #fff;
    color: #1ccdca;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 40px;
}

.main_title .line, .main_title .line::before, .main_title.centered .line i {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main_title .icon-circle {
    background: #fff;
    border: 1px solid #1cc6df;
    height: 10px;
    position: absolute;
    top: -5px;
    width: 10px;
}

.main_title.centered span {
}

.main_title .icon-circle {
    background: #fff;
    border: 1px solid #1cc6df;
    height: 10px;
    position: absolute;
    top: -5px;
    width: 10px;
}

.events_page .content_block {
    float: left;
    width: 75%;
}


.list_item {
    margin-bottom: 50px;
    border-bottom: 1px dotted #e9e9e9;
}

.list_content {
    padding: 0 0 30px 30px;
}

.meta {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    font-style: italic;
    display: block;
}

.meta a {
    color: #8a8d8d;
}

.meta_part {
    margin-bottom: 10px;
    margin-right: 25px;
}

.list_item h6 {
    font-family: "Oswald", "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.list_item h6 a, .meta a {
    color: #576162;
}
.list_item h6 {
    display:inline-block;
}

.list_item h6 a:hover, .meta a:hover {
    color: #00AFB2;
}
.list_item {
    margin-bottom: 25px;
    border: 1px solid #e9e9e9;
}
.list_content {
    padding: 20px 30px 30px 30px;
}

#delete-event{
    margin-left:0px;
}

a{
    text-decoration: none;
}

.list_item .desc , .meta-row{
    border-bottom: dotted 1px #ccc;
    padding: 10px 0px;
}

/* Left sidebar */
.left_sidebar {
    width: 25%;
    float: left;
    padding-right: 25px;
    height: 100%;
}


.left_sidebar h6 {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.left_sidebar li {
    border-bottom: 1px dotted #e5e5e5;
    list-style: none;
    padding: 7px 0;
}

.num_events {
    color: #aaa;
    float: right;
    font-size: 11px;
}

.left_sidebar li div {
    color: #777;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    cursor: pointer;
}

.left_sidebar li a:hover {
    color: #aaa;
}

/* Search */
.top_search {
    top: 18px;
    position: absolute;
    right: 0px;
    width: 200px;
}

.top_search .top_search_con {
    background: #fff !important;
    border-color: #E4E4E4 !important;
    border: 1px solid rgba(255, 255, 255, 0.07);
    float: right;
    height: 38px;
    position: relative;
    width: 100%;
}

.top_search .top_search_con input[type="text"] {
    background: none !important;
    border: medium none;
    height: 100%;
    width: 100%;
    padding: 1px 20px 0 40px;
    color: #818B8D;
    font-size: 12px;
}

.top_search .top_search_icon {
    color: #1ccdca;
    font-size: 15px;
    left: 11px;
    position: absolute;
    top: 8px;
}

.top_search .top_search_submit {
    border: medium none;
    padding: 0;
    position: absolute;
    width: 20px;
    left: 12px;
    opacity: 0;
    top: 9px;
}

.top_search_con {
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}

/* Logged in topbar */
.top_registration {

}
/*#login-reg-menu{*/
    /*display:inline-block;*/
    /*float:right;*/
/*}*/

#logout_button, #login_popup {
    background: none;
    border: none;
    margin-left: 15px;
}

#logout_form {
    display: inline;
}

/* Error */
.error, #email_error {
    color: #F86923 !important;
}

/* error page */
.main_desc {
    margin: 0 auto;
    font-family: "lato", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.centered {
    text-align: center;
}

.page404 {
    color: #1ccdca;
    font-family: "Oswald", "Open Sans", sans-serif;
    font-size: 275px;
    text-align: center;
    position: relative;
}

.btn_a {
    border: 1px solid #e4e4e4;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    color: #888;
    height: 46px;
    position: relative;
}

.btn_a:hover {
    color: #1ccdca;
}

.btn_a > span > span {
    display: inline-block;
    padding: 4px 10px 4px 55px;
    line-height: 40px;
}

.btn_a i {
    font-size: 16px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 45px;
    line-height: 46px;
    height: 45px;
    border-right: 1px solid #e4e4e4;
}

/* Footer */
#footer {
    position: relative;
    width: 100%;
    background: #191E21;
    overflow: hidden;
    color: #989898;
    font-size: 12px;
    margin-top: 100px;
    bottom: 0;
}

#footer a {
    color: #989898;
}

#footer a:hover, .footer_copy_text {
    color: #00AFB2;
}

#footer .footer_copyright {
    padding: 32px 0px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
}

.footer-col {
    width: 50%;
    float: left;
}

.footer_menu {
    float: right;
}

.footer_menu > li:first-child {
    padding-left: 0px;
}

.footer_menu > li {
    display: inline-block;
    padding: 0 8px;
}

.error-message {
    color: #F86923;
    font-weight: bold;
    margin-bottom: 40px;
}

/** Create / edit event ***/
#event_form, #check-invitation-email {
    width: 60%;
}

.thumb-img{
    height:30px;
}

.thumb{
    color: #666;
    border: none;
    background: none;
}
.btn_row button{
    width:49%;
}
#event_save{
    float:left;
}
#event_discard{
    float:right;
}
textarea{
    padding: 10px;
}
.time_picker_input {
    width: 34% !important;
}

.date_picker_input {
    width: 65% !important;
    marign-right: 1% !important;
    float: left;
}

#short_desc, #full_desc {
    width: 100%;
}

.radio_wrapper span {
    padding: 5px 10px;
}

#category_select {
    width: 100%;
}

#invitation-email {
    width: 90% !important;
    float: left;
}

.invitation-email {
    float: left;
}

#suggested_emails {
    display: none;
    width: 90%;
    bordeR: solid 1px #00AFB2;
    padding: 10px 12px;
    color: #666;
    font-size: 13px;
    background: #f9f9f9;

}

#add_invitation_btn {
    width: 10%;
    height: 41px;
}

#guests_list {
    display: none;
}

#invitation_list {
    position: relative;
}

.invitation_item i, .invitation_item_email {
    float: left;
}

.invitation_item .organizer{
    margin-left:10px;
    float:left;
}

.invitation_item i {
    margin-right: 10px;
}

.suggested_email {
    cursor: pointer;
    cursor: hand;
}

#email_error {
    float: left;
}

.remove_email {
    margin-left: 15px;
    float: left;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

#event_form .error {
    float: left;
}

/* Event details */
.event_img{
    width:600px;
    margin-bottom:30px;
}

span.meta_header {
    font-size: 13px;
    font-style: italic;
    width: 120px;
    display: inline-block;
}

.col_half{
    width:50%;
    float:left

}

#respond_wrapper {
    display:none;
    margin: 10px;
    bordeR: dotted 1px #ccc;
    padding: 20px;
    width: 240px;
    text-align: center;
    vertical-align: top;
}
#respond_wrapper button:first-child{
    float:left;
    width:45%
}
#respond_wrapper button:last-child{
    float:right;
    width:45%
}
#change_response_wrapper {
    display: inline-block;
}

#respond_wrapper .btn_wrapper {
    margin-top:10px
}

#change_response{
    border: 0px;
    background: none;
    color:#00AFB2;
}
#change_response span{
}
.change-response-icon{
    margin-left:10px;
    margin-right:5px !important;
}

[data-notify="container"]{
    background-color: #fbfbfb;
    border: solid 1px #00AFB2 !important;
    color: #00AFB2;
    font-weight:bold
}

/**** edit/delete event buttons ***/
.change-event-btn, .change-event-btn:visited{
    margin-left:25px;
    color: #00AFB2;
    border: none !important;
    background: none !important;
}
.change-event-btn:hover{
    color: #666;
}