
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.ev_icon, .top_icon, .footer_icon {
    margin-right: 5px;
}

.icon-user::before {
    content: "\f007";
}

.icon-lock::before {
    content: "\f023";
}

.icon-clock::before {
    content: "\f017";
}

.icon-folder::before {
    content: "\f115";
}

.icon-map-marker::before {
    content: "\f041";
}

.icon-search::before {
    content: "\f002";
}

.icon-home::before {
    content: "\f015";

}
