body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #666666;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #324545;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

.clear {
    clear: both;
    display: block;
}

.upper {
    text-transform: uppercase;
}

.content {
    max-width: 1170px;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 0 15px;
}

.content_section {
    margin-top: 40px;
}

/* Rounded corners */
.login_form, input[type="text"], input[type=button], input[type="password"], .btn {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/* Common transitions */
a, .btn {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Button style  */

.btn {
    background: #00AFB2;
    border: 1px solid #00AFB2;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    display: inline-block;
}

.btn:hover {
    background: #324545;
    border-color: #324545;
    color: #fff;
}

/*
.btn i{
	margin-left: 12px;
}*/

/* Topbar */
#topbar {
    background: #00AFB2;
    color: white;
    position: relative;
}

#topbar {
    font-size: 12px;
}

#topbar span {
    display: inline-block;
    margin-right: 40px;
    padding: 12px 0;
    cursor: pointer;
}

#topbar a, #topbar a:visited, #topbar:active {
    color: white;
    text-decoration: none;
}

.top_icon {
    margin-right: 5px;
}

/* Logo */
#logo {
    float: left;
    margin-right: 45px;
    position: relative;
}

#logo > a {
    display: block;
    margin-top: 13px;
    position: relative;
    height: 45px;

}

#logo > a img {
    display: inline-block;
}

img {
    vertical-align: middle;
}

/* Navigation bar */
#navigation_bar {
    height: 74px;
    margin-bottom: 30px;
}

#main_nav {
    float: left;
    vertical-align: middle;

}

#main_nav ul {
    font-size: 12px;
    text-transform: uppercase;
}

/* NAV MENU  */
#nav_menu ul li {
    float: left;
    position: relative;
}

#nav_menu li > a > span {
    padding: 28px 20px;
    display: block;
    font-weight: 600;
}

#nav_menu li > a {
    text-decoration: none;
    color: #324545;
}

#nav_menu li > a:hover, #nav_menu li > a:active {
    color: #00AFB2;
}

/* Registration form */
.form_header {
    margin-bottom: 20px;
}

.main_title h2 {
    color: #324545;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Oswald', "Open Sans", sans-serif;
    line-height: 40px;
}

.main_title .highlighted {
    color: #00AFB2;
}

#registration_form {
    position: relative;
    width: 60%;
}

.form_row {
    margin-top: 20px;
}

.form_row label {
    float: none;
    display: block;
    color: #999;
    line-height: 40px;
    margin-bottom: 5px;
    width: 100%;
}

.required_star {
    color: #e74c3c;
}

.form_row:first-child {
    margin-top: 0px;
}

.form_col_half {
    width: 50%;
    float: left;
    padding-right: 15px;
    box-sizing: border-box;
}

.form_row .input_text {
    width: 100%;
    color: #324545;
    font-weight: 600;
}

input[type="text"], input[type="password"], input[type="button"] {
    border: 1px solid #ddd;
    padding: 10px 12px;
    color: #666;
    font-size: 13px;
    background: #fff;
    outline: none;
    width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #00AFB2;
    color: #324545;
}

.full_button {
    width: 100%;
}

/* Upload button */
/*
.input_file{
    position: fixed;
    top: -1000px;
}

.file_button_wrapper {
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: #DDD;
    display: inline-block;
    cursor:pointer;
}
.file_button_wrapper:hover {
    background: #CCC;
}
.file_button_wrapper:active {
    background: #CCF;
}
.file_button_wrapper :invalid + span {
    color: #A44;
}
.file_button_wrapper :valid + span {
    color: #4A4;
}

*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* login */
#login_form {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 20px;
    position: relative;
}

.lf_user_row:not(:last-of-type) {
    margin-bottom: 20px;
}

.lf_user_row {
    position: relative;
}

.lf_header {
    background: #F9F9F9;
    border-bottom: 1px solid #e1e1e1;
    color: #555555;
    display: block;
    margin: -20px -20px 0;
    padding: 15px 20px;
    text-transform: uppercase;
}

#login_form label {
    display: block;
    text-align: left;
}

.small-dialog {
    background: white;
    padding: 20px 30px;
    text-align: left;
    max-width: 500px;
    margin: 40px auto;
    position: relative;
}

.lf_user_row input[type="text"], .lf_user_row input[type="password"] {
    color: #888;
    font-weight: 500;
    padding-left: 40px;
    width: 100%;
}

.lf_forget_pass {
    background: #F9F9F9;
    border-top: 1px solid #e1e1e1;
    color: #888;
    display: block;
    font-size: 13px;
    margin: 20px -20px -20px;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
}

#login_form .remember-box {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0;
}

#login_form input[type="checkbox"] {
    display: inline-block;
    margin: 3px 5px 4px 0;
}

.f_right {
    float: right;
}

.lf_icon {
    bottom: 1px;
    display: block;
    font-size: 17px;
    height: 100%;
    color: #576162;
    left: 1px;
    top: 1px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 40px;
}

/* Event list */
.content_block {
    float: left;
    width: 75%;
}

.list_item {
    margin-bottom: 50px;
    border-bottom: 1px dotted #e9e9e9;
}

.list_content {
}

.list_content {
    padding: 0 0 30px 30px;
}

.meta {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    font-style: italic;
    display: block;
}

.meta a {
    color: #8a8d8d;
}

.meta_part {
    margin-bottom: 10px;
    margin-right: 25px;
}

.list_item h6 {
    font-family: "Oswald", "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.list_item h6 a, .meta a {
    color: #576162;
}

.list_item h6 a:hover, .meta a:hover {
    color: #00AFB2;
}

.list_item .desc {
    margin-bottom: 30px;
}

/* Left sidebar */
.left_sidebar {
    width: 25%;
    float: left;
    padding-right: 25px;
    height: 100%;
}


.left_sidebar h6 {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.left_sidebar li {
    border-bottom: 1px dotted #e5e5e5;
    list-style: none;
    padding: 7px 0;
}

.num_events {
    color: #aaa;
    float: right;
    font-size: 11px;
}

.left_sidebar li a {
    color: #777;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.left_sidebar li a:hover {
    color: #aaa;
}

/* Search */
.top_search {
    top: 18px;
    position: absolute;
    right: 0px;
    width: 200px;
}

.top_search .top_search_con {
    background: #fff !important;
    border-color: #E4E4E4 !important;
    border: 1px solid rgba(255, 255, 255, 0.07);
    float: right;
    height: 38px;
    position: relative;
    width: 100%;
}

.top_search .top_search_con input[type="text"] {
    background: none !important;
    border: medium none;
    height: 100%;
    width: 100%;
    padding: 1px 20px 0 40px;
    color: #818B8D;
    font-size: 12px;
}

.top_search .top_search_icon {
    color: #1ccdca;
    font-size: 15px;
    left: 11px;
    position: absolute;
    top: 8px;
}

.top_search .top_search_submit {
    border: medium none;
    padding: 0;
    position: absolute;
    width: 20px;
    left: 12px;
    opacity: 0;
    top: 9px;
}

.top_search_con {
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}

/* Logged in topbar */
.top_registration {

}

#logout_button, #login_popup {
    background: none;
    border: none;
}

#logout_form {
    display: inline;
}
