

.invitation_item i, .invitation_item_email {
    float: left;
}

    /*** ICONS ***/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.ev_icon{
    margin-right: 5px;
}

.icon-clock::before {
    content: "\f017";
}


.icon-map-marker::before {
    content: "\f041";
}

.icon-user::before {
    content: "\f007";
}


.icon-folder::before {
    content: "\f115";
}

.icon-response-3::before{
    content: "\f29c";
    color: #ffd410;
}

.icon-response-2::before{
    content: "\f00d";
    color: #F86923;
}
.icon-response-1::before{
    content: "\f00c";
    color: #1ccdca;
}
.icon-response-5::before{
    content: "\f29c";
    color: #888;
}
