body{
    line-height:2;
}
a{
    text-decoration:none;
}
.list_item h6 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
    margin-top:20px;
}

.list_item h6 a{
    color: #576162;
}
.list_item h6 {
    display:inline-block;
}

.list_item h6 a{
    color: #00AFB2;
}

.list_item {
    margin-bottom: 25px;
    border: 1px solid #e9e9e9;
    padding: 0px 30px 30px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

span.meta_header {
    font-size: 13px;
    font-style: italic;
    width: 120px;
    display: inline-block;
}

.desc_header{
    font-weight:bold;
}

.list_item .desc , .meta-row{
    padding: 15px 0px;
}

.desc{
    margin-bottom:15px;
    border-bottom: dotted 1px #ccc;
}
.meta-row{
    margin-bottom:15px;
    border-bottom: dotted 1px #ccc;
}

.col_half{
    width:50%;
    float:left
}

.invitation_item i, .invitation_item_email {
    float: left;
}
.details_link a{
    color: black;
    font-weight:bold;
    font-size:13px;
}

.invitation_item .organizer{
    margin-left:10px;
    float:left;
}

.invitation_item i {
    margin-right: 10px;
}
.invitation_item{
    padding-left:20px;
    clear:left;
}

.response_box{
    margin-top:20px;
}

.response_box a{
    font-weight:bold;
    font-size:14px;
}

    /*** ICONS ***/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}

.ev_icon{
    margin-right: 5px;
}

.icon-clock::before {
    content: "\f017";
}


.icon-map-marker::before {
    content: "\f041";
}

.icon-user::before {
    content: "\f007";
}


.icon-folder::before {
    content: "\f115";
}

.icon-response-3::before{
    content: "\f29c";
    color: #ffd410;
}

.icon-response-2::before{
    content: "\f00d";
    color: #F86923;
}
.icon-response-1::before{
    content: "\f00c";
    color: #1ccdca;
}
.icon-response-5::before{
    content: "\f29c";
    color: #888;
}
